@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer theme {
	:root, :host {
		--font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	} 
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@theme {
  --color-gray-50: oklch(0.984 0.0 0.0);
  --color-gray-100: oklch(0.968 0.0 0.0);
  --color-gray-200: oklch(0.929 0.0 0.0);
  --color-gray-300: oklch(0.869 0.0 0.0);
  --color-gray-400: oklch(0.704 0.0 0.0);
  --color-gray-500: oklch(0.554 0.0 0.0);
  --color-gray-600: oklch(0.446 0.0 0.0);
  --color-gray-700: oklch(0.372 0.0 0.0);
  --color-gray-800: oklch(0.279 0.0 0.0);
  --color-gray-900: oklch(0.208 0.0 0.0);
  --color-gray-950: oklch(0.179 0.0 0.0);
}

#background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

